# env/venv/gh-based
*.egg
*.egg-info/
*.eggs/
*.pyc
.idea
.cache/
_build/
build/
dist/
.env
.venv
.vscode
__pycache__
*.token
*.pypirc
*.code-workspace
/coverage.xml
/TestResults.xml
/.coverage
.mypy_cache/
items.csv
perks.csv
perks_scraped.csv
new_world_world_data.db
perks_buddy.csv
items.json
items_updated.json
bfg.jar
